/* //////////////////// Reset styles //////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* //////////////////// Root variabels //////////////// */
:root {
  --background-begie: #e8d9c4;
  --orange-acent: #cc7229;
  --dark-blue: #193435;
  --blue-acent: #567b81;
  --light-blue: #b2d9ed;
  --white: #f1f1f1;
}

/* ////////////////////////// typografi ///////////////////// */
body {
  font-family: "Inter", "Helvetica Neue", sans-serif;
  font-size: 16px;
  /* letter-spacing: 0.6px; */
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.87);
  background: var(--background-begie);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

/* ////////////////////////// layout ///////////////////// */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  /* letter-spacing: 3px; */
  text-transform: uppercase;
  padding: 0.6em 0 0;
  margin: 0;
  line-height: 1.2em;
  color: var(--orange-acent);
}

h4 {
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: 2em;
}

p {
  line-height: 1.5;
  margin-top: 0.3em;
  overflow: auto;
}

/* ////////////////////////// nav ///////////////////// */

.active {
  text-decoration: underline var(--orange-acent) 3px;
}

a {
  color: var(--dark-blue);
  font-weight: bolder;
  font-weight: 500;
  text-decoration: inherit;
}

.navigation {
  display: flex;
  gap: 40%;
  align-items: center;
  padding: 1% 2%;
  
  background-color: var(--light-blue);
}

select {
  border: transparent;
  background-color: transparent;
  color: var(--orange-acent);
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  gap: 21px;
}

/* ////////////////////// Header ///////////////////// */

.header {
  background-color: var(--light-blue);
  /* padding: 2
  rem; */
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7%;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 34%;
  margin-left: 5%;
}

article p {
  color: var(--blue-acent);
}

/* ///// Header img  ////// */
.header-img-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.triangles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.triangle1 {
  transform: rotate(5deg);
}

.triangle2 {
  transform: rotate(85deg);
  left: 30px;
  top: 15px;
}

.triangle3 {
  transform: rotate(-80deg);
  left: -30px;
  top: 10px;
}

/* @keyframes rotateSlow {
  0% {
    transform: rotate(var(--start-angle));
  }
  50% {
    transform: rotate(calc(var(--start-angle) + 15deg));
  }
  100% {
    transform: rotate(calc(var(--start-angle) + -10deg));
  } 
}*/

/* ///////// btn ///////// */

button-container {
  display: flex;
  justify-content: right;
}

button {
  background: var(--dark-blue);
  color: var(--white);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
  max-width: fit-content;
}

button:hover {
  background: var(--blue-acent);
}

/* ////////////////////////////// Footer //////////////////////// */

footer {
  background-color: var(--dark-blue);
  padding: 2%;
  padding-bottom: 0%;
  display: flex;
  justify-content: space-between;
}

footer p {
  color: var(--blue-acent);
  font-size: x-large;
}

footer h3 {
  color: var(--white);
  font-size: xx-large;
}

footer a {
  color: var(--blue-acent);
}

footer a:hover {
  color: var(--white);
  cursor: pointer;
}

footer article {
  max-width: 40%;
  margin: 0 10% 0 0;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  max-width: 80%;
  max-height: 80%;
  
}

article.rights {
  display: flex;
  justify-content: end;
  margin: 0;
}

article.rights p {
  font-size:large;
}

.flower {
  position: absolute;
  width: 90%;
  height: 90%;
  overflow: hidden;
}

.flower-container {
  position: relative;
  width: 200px;
  height: 250px;
  left: -2%;
  padding-top: 6% ;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
}
