/* //////////////////// Reset //////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.87);
  background: var(--background-begie);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* //////////////////// Variables //////////////////// */
:root {
  --background-begie: #e8d9c4;
  --orange-acent: #cc7229;
  --dark-blue: #193435;
  --blue-acent: #567b81;
  --light-blue: #b2d9ed;
  --white: #f1f1f1;
}

/* //////////////////// Typography //////////////////// */
h1 {
  text-transform: uppercase;
  margin: 0 0 0.5rem;
  padding: 0.5em 0;
  line-height: 1.2;
  color: var(--orange-acent);
  border-bottom: 3px solid var(--orange-acent);
}

h2,
h3,
h4 {
  text-transform: uppercase;
  margin: 0 0 2rem;
  padding: 0.6em 0 0;
  line-height: 1.2;
  color: var(--orange-acent);
  border-bottom: 3px solid var(--orange-acent);
}

h4 {
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: 2em;
}

p {
  line-height: 1.5;
  margin: 0.3em 0 1em;
  overflow: auto;
}

/* //////////////////// Background //////////////////// */
.background-content {
  background: url("../../public/img/background/back-string.png") top/cover
    no-repeat;

  min-width: 100vh;
  max-width: fit-content;
  min-height: fit-content;
  overflow: hidden;
}

/* //////////////////// Links //////////////////// */
a {
  color: var(--dark-blue);
  font-weight: 500;
  text-decoration: inherit;
}

a.active {
  border-bottom: 3px solid var(--orange-acent);
}

select {

  border: none;
}

/* ///////////////////// img //////////////////// */

.project-img  {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card img {
  border-radius: 20px;
  max-height: 30rem;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

/* //////////////////// Navigation //////////////////// */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 2%;
  background-color: var(--light-blue);
}

nav {
  display: flex;
  gap: 21px;
}

select {
  border: none;
  background: transparent;
  color: var(--orange-acent);
}

/* //////////////////// Header //////////////////// */
.header {
  background-color: var(--light-blue);
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7%;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 34%;
  margin-left: 5%;
}

article p {
  color: var(--blue-acent);
}

.header-img-container {
  position: relative;
  width: 40%;
  height: 400px;
}

.triangles {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.triangle2 {
  transform: rotate(85deg);
  
  top: 15px;
}

.triangle3 {
  transform: rotate(-80deg);
  left: -50px;
  top: 10px;
}

.doodle {
  position: absolute;
  height: fit-content;
  width: fit-content;

  display: flex;

  animation: rotate 20.5s ease-in-out infinite;
  
}

.doodle-wrapper {
  position: absolute;
  animation: upDown 6.5s ease-in-out infinite;
}

.d1 {
  top: 14%;
  left:1%;
  animation-delay: -3s;
}
.d2 {
  top: 73%;
  left: 45%;
  animation-delay: -1s;
}

.d3 {
  top: 12%;
  left: 30%;
  animation-delay: -3s;
}

.d4 {
  top: 30%;
  left: 45%;
  animation-delay: -2s;
}

.d5 {
  top: 30%;
  left: 85%;
  animation-delay: -5s;
}

.d6 {
  top: 70%;
  left: 4%;
  animation-delay: -2s;
}

.d7 {
  top: 20%;
  left:70% ;
  animation-delay: -4s;
}

.d8 {
  top:70%;
  left: 85% ;
  animation-delay: -2s;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(-10deg); }  /* til venstre */
  50%  { transform: rotate(0deg); }    /* tilbage til startpunkt */
  75%  { transform: rotate(10deg); }   /* til højre */
  100% { transform: rotate(0deg); }  
}

/* //////////////////// Buttons //////////////////// */
button-container {
  display: flex;
  justify-content: flex-end;
}

button {
  background: var(--dark-blue);
  color: var(--white);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
  margin: 1rem;
  max-width: fit-content;
}

button:hover {
  background: var(--blue-acent);
}

/* //////////////////// Footer //////////////////// */
footer {
  background-color: var(--dark-blue);
  padding: 2% 2% 0;
  display: flex;
  justify-content: space-between;
}

footer h3 {
  color: var(--white);
  font-size: xx-large;
  border: none;
}

footer p {
  color: var(--blue-acent);
  font-size: x-large;
}

footer a {
  color: var(--blue-acent);
  font-size: xx-large;
}

footer a.mail {
  color: var(--blue-acent);
  font-size: x-large;
}

footer a:hover {
  color: var(--white);
  cursor: pointer;
}

footer article {
  max-width: 40%;
  margin-right: 10%;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  max-width: 80%;
}

article.rights {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

article.rights p {
  font-size: large;
}

.flower-container {
  position: relative;
  width: 200px;
  height: 250px;
  left: -2%;
  padding-top: 6%;
  overflow: hidden;
}

.flower {
  position: absolute;
  width: 90%;
  height: 90%;
  overflow: hidden;
}

/* //////////////////// Home //////////////////// */
.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 3rem;
  margin-bottom: 10rem;
}

.content h2 {
  margin: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid var(--orange-acent);
}

.content p {
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--orange-acent);
}

.img-container {
  border: 2rem solid var(--blue-acent);
  border-radius: 150px 150px 0 150px;
  background-color: var(--blue-acent);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bh {
  border-radius: 35% 35% 0 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-container {
  width: 30rem;
  margin-left: 3rem;
}

.text-content {
  padding: 3rem;
  background-color: var(--dark-blue);
  border-radius: 150px 150px 150px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-container a {
  color: var(--blue-acent);
}

/* //////////////////// Skills //////////////////// */
.skills-header h2 {
  padding: 5rem 1rem 1rem 1rem;
}

.btn {
  background-color: var(--blue-acent);
  color: var(--white);
  margin: 3rem;
  padding: 1rem;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skill-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
}

.skill img {
  width: 6rem;
  height: auto;
}

.skill-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  padding: 0 2rem;
  width: 100%;
  background-color: var(--orange-acent);
  overflow: hidden;
}

.skill-container .rips.top {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.skill-container .rips.bottom {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.marquee {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  min-width: 100%;
  padding: 3rem 0;
  white-space: nowrap;
  z-index: 2;
  animation: scroll var(--duration, 30.8s) linear infinite;
  animation-play-state: var(--play, running);
  animation-direction: var(--direction, normal);
  animation-delay: var(--delay, 0s);
}

.marquee-container {
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
  overflow: hidden !important;
  --pause-on-hover: paused;
  --pause-on-click: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* //////////////////// Projects //////////////////// */
.content-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-project h2 {
  margin: 10rem 4rem 4rem;
  padding: 1rem;
}

.project-content {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--dark-blue);
  border-radius: 50px;
}

.project-content img {
  height: 20rem;
  width: auto;
}

.project-teaser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 10%;
  background-color: var(--blue-acent);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-project button {
  margin: 4rem;
}

/* //////////////////// About Me //////////////////// */
.about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
}

.about-me-content .text-container {
  display: flex;
  gap: 3rem;
  width: 70rem;
  border-radius: 35% 35% 0 35%;
  align-items: end;
  justify-content: center;
}

.about-me-content .text-content {
  width: 30rem;
  border-radius: 35% 35% 0 35%;
}

.about-me-content p {
  margin: 1rem;
}

.about-me-content img {
  border-radius: 35% 35% 35% 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-me-content .img-container {
  border-radius: 35% 35% 35% 0;
  height: 27rem;
}

.still-skills {
  display: flex;
  align-items: center;
  min-width: 100%;
  padding: 3rem 0;
  z-index: 2;
  flex-wrap: wrap;
  justify-content: center;
}

.teaching {
  background-color: var(--blue-acent);
  padding: 2rem;
  border-radius: 150px 150px 150px 0;

  display: flex;
  gap: 2rem;
  align-items: center;
}

.teaching img {
  border-radius: 150px 150px 150px 0;
}

.teaching p {
  background-color: var(--dark-blue);
  padding: 2rem;
  border-radius: 70px;
  width: 30rem;

  text-align: center;
}

.join {
  border: none;
  width: 43rem;
  text-align: center;
  margin: 7rem;
  font-size: x-large;
}

/* //////about me///// */

.project-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-project-card {
  background-color: var(--orange-acent);
  margin: 2rem 0;
  padding: 0;
}

.left-project-card h3 {
  border-color: var(--blue-acent);
  color: var(--blue-acent);
}

.right-project-card {
  background-color: var(--blue-acent);
  margin: 2rem 0;
  padding: 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.card-structure {
  display: flex;
}

.comming-soon {
  text-align: center;
  font-size: x-large;
  color: var(--white);
}

.left-project-card .rips.top {
  position: relative;
  top: -3px;
  left: 0;
  width: 100%;
  z-index: 1;
  
}

.right-project-card .rips.top {
  position: relative;
  top: -15px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.left-project-card .rips.bottom {
  position: relative;
  top: 8px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.right-project-card .rips.bottom {
  position: relative;
  top: 8px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.project-page img {
  width: 20rem;
  height: auto;
}

.project-card-text {
  width: 20rem;
}

.left-project-card,
.right-project-card {
  width: 99vw; 
  margin: 0; 
  border-radius: 0; 
}

.right-project-card .link {
  color: var(--white);
}
/* /////////////contact///////////// */

.blue-background {
  background-color: var(--light-blue);
  min-height: 88vh;
}

.half-cirkel {
  background-color: var(--blue-acent);
  border-radius: 500px 500px 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 88vh;
}

.contact-content {
  text-align: center;
}

.contact-content h3 {
  border: none;
  color: var(--white);
}

.contact-split {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.contact-split h3,
.mail {
  color: var(--dark-blue);
  font-size: x-large;
  font-weight: bold;
  padding-top: 1rem;
}

/* ///////////////// details page ////////////////////// */

.detail-content {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
}

.detail-content .topic-img {
  width: 300px;
  height: auto;
}

.detail-content img {
  margin: 1rem;
}

.detail-content .topic-img .img-side {
  width: 30rem;
  height: auto;
  padding: 1rem;
}
.img-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.detail-content .text-side {
  width: 30rem;
  height: auto;
  padding: 1rem;
}

.linebreaks {
  white-space: pre-line;
}
